/* General Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: #fff;
  color: black;
}

.navbar-logo img {
  height: 80px;
}

.navbar-items {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-left: 20px;
}

.navbar-item a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 80px;
}

.navbar-item a:hover {
  color: #ff4081;
}

/* Mobile Styles */
.mobile-menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-items {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #333;
      z-index: 10;
  }

  .navbar-items.active {
      display: flex;
  }

  .navbar-item {
      margin: 10px 0;
      text-align: center;
  }

  .mobile-menu-icon {
      display: block;
  }
}
