.p1 img {
    width: 60px;
    mix-blend-mode: multiply;
    margin-left: 50px;
}

.p {
    background-color: #fff;
    height: 110px;
    width: 100%;
}

.n h1 {
    text-align: center;
    font-family: sans-serif;
    margin: 50px;
}

.marquee {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    animation: marquee 15s linear infinite;
}

.marquee img {
    margin-right: 20px;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
